@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center d-flex align-items-center justify-content-center">
    <div>
        <h1 class="display-4">Bem Vindo!</h1>
        <p>Consulte os seus cliente cadastrados na sua Loja ou realize o cadastro de novos Clientes.</p>
    </div>
</div>
